absl-py==0.9.0
aiohttp==3.5.4
altair==4.1.0
altgraph==0.17
app==0.0.1
argh==0.26.2
asgiref==3.3.4
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
auto-py-to-exe==2.6.6
autopep8==1.5
backcall==0.1.0
base58==2.0.1
beautifulsoup4==4.8.2
bleach==3.1.0
blinker==1.4
blis==0.4.1
boto3==1.16.13
botocore==1.19.13
bottle==0.12.18
bottle-websocket==0.2.9
Brotli==1.0.9
cachetools==4.0.0
caer==1.9.8
captcha-solver==0.1.5
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
config==0.4.2
configparser==4.0.2
cv==1.0.0
cx-Freeze==6.1
cycler==0.10.0
cymem==2.0.3
darksky-weather==1.8.0
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
Django==3.2.2
docutils==0.16
docx2txt==0.8
dominate==2.6.0
Eel==0.11.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
entrypoints==0.3
enum-compat==0.0.3
flake8==3.8.4
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.9.0
future==0.18.2
gast==0.3.3
geographiclib==1.50
geopy==1.21.0
gevent==1.5.0
gevent-websocket==0.10.1
gfm==0.0.3
gitdb==4.0.5
GitPython==3.1.11
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.11.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.51.0
greenlet==0.4.15
grpcio==1.28.1
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.1.0
h5py==2.10.0
html2text==2015.11.4
httplib2==0.17.0
idna==2.8
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
-e git://github.com/jupyter/jupyter-drive.git@d5ddf19b50a2c2ae9860b550609eeddcb2e0b65b#egg=jupyterdrive
Keras==2.4.3
Keras-Preprocessing==1.1.0
Kivy==1.11.1
kivy-deps.angle==0.1.10
kivy-deps.angle-dev==0.2.0
kivy-deps.glew==0.1.12
kivy-deps.glew-dev==0.2.0
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
Kivy-examples==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
multidict==4.7.5
murmurhash==1.0.2
MyApplication==0.1.0
mypy==0.812
mypy-extensions==0.4.3
mysql-connector==2.2.9
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.4.5
notebook==6.0.3
numpy==1.18.1
oauthlib==3.1.0
ocean-secret-store-client==0.0.2
opencv-contrib-python==4.5.1.48
opencv-python==4.2.0.34
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.0
pandocfilters==1.4.2
parso==0.7.1
pathtools==0.1.2
pdfminer.six==20200517
pdfplumber==0.5.27
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.0.0
plac==1.1.3
plotly==4.12.0
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.13.0
psutil==5.7.0
public==2019.4.13
py4j==0.10.9
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycodestyle==2.6.0
pycparser==2.19
pycryptodome==3.10.1
pycryptodomex==3.9.7
pydeck==0.5.0
pydocstyle==5.1.1
pyflakes==2.2.0
pygame==1.9.6
Pygments==2.5.2
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.6.2
pyparsing==2.4.7
PyPDF2==1.26.0
pypiwin32==223
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.1.1
pyqt5-tools==5.15.2.3.0.2
pyrsistent==0.15.7
PyRSS2Gen==1.1
pyspark==3.0.1
pytesseract==0.3.4
python-anticaptcha==0.6.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pyttsx==1.1
pyttsx3==2.81
pytz==2019.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3
pyzmq==18.1.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
qtconsole==4.6.0
reportlab==3.5.42
requests==2.21.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.18.0
rsa==4.0
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.1
selenium==3.141.0
self==2019.4.13
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
smmap==3.0.4
snowballstemmer==2.1.0
sortedcontainers==2.3.0
soupsieve==1.9.5
spacy==2.2.4
SpeechRecognition==3.8.1
sqlparse==0.3.0
srsly==1.0.2
stats==0.1.2a0
streamlit==0.79.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0rc4
tensorflow-addons==0.10.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
tesseract==0.1.3
testpath==0.4.4
thinc==7.4.0
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.10.0
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
TwoCaptcha==0.0.1
typed-ast==1.4.2
typeguard==2.9.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.2
uritemplate==3.0.1
urllib3==1.24.3
validators==0.18.1
virtualenv==16.7.9
visitor==0.1.3
Wand==0.6.6
wasabi==0.6.0
watchdog==0.8.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
win10toast==0.9
wordcloud==1.8.0
wrapt==1.11.2
wxPython==4.1.0
yapf==0.30.0
yarl==1.4.2
pkg-resources==0.0.0
distribute==0.6.24
